a.nicovideo(title= url.href, href= url.href, target='_blank')
	aside(lang= lang, data-type= type)
		div.block
			if image
				div.thumbnail(style={'background-image': 'url(#{image})'})
			h1.title= title
		div.left
			if viewCount
				p.viewCount 再生数
			if category
				p.category カテゴリ
			if length
				p.length 動画時間
			if userNickname
				p.userNickname 投稿者
		div.right
			if viewCount
				p.viewCount= viewCount
			if category
				p.category= category
			if length
				p.length= length
			if userNickname
				p.userNickname= userNickname
		if description
			p.description= description
		footer
			p.hostname
				if url.protocol == 'https:'
					i.fa.fa-lock.secure
				= url.hostname
			if icon
				img.icon(src= icon, alt='')
			if siteName
				p.site-name= siteName
