a.nicovideo(title= url.href, href= url.href, target='_blank')
	aside(lang= lang, data-type= type)
		div.block
			if image
				div.thumbnail(style={'background-image': 'url(#{image})'})
			h1.title= title
		div.contents
			if view
				div.content.view
					p.name 再生数
					p.description= view
			if comment
				div.content.comment
					p.name コメント
					p.description= comment
			if myList
				div.content.myList
					p.name マイリス
					p.description= myList
			if category
				div.content.category
					p.name カテゴリ
					p.description= category
			if time
				div.content.user
					p.name 動画時間
					p.description= time
			if user
				div.content.user
					p.name 投稿者
					p.description=user
			if state
				div.content.status
					p.name ステータス
					p.description= state
			if description
				p.description!= description.replace(/(\n)+/g, '<br />')
		footer
			p.hostname
				if url.protocol == 'https:'
					i.fa.fa-lock.secure
				= url.hostname
			if icon
				img.icon(src= icon, alt='')
			if site
				p.site= site
