extends ../../../ui

block title
	=locale.sites.desktop.pages._i._settings.page_title

block content
	main(role='main')
		nav.nav
			ul
				li(data-ref='profile')
					i.fa.fa-user
					=locale.sites.desktop.pages._i._settings.profile
				li(data-ref='web')
					i.fa.fa-desktop
					=locale.sites.desktop.pages._i._settings.web
				li(data-ref='credit')
					i.fa.fa-credit-card
					=locale.sites.desktop.pages._i._settings.credit
				li(data-ref='logout')
					i.fa.fa-power-off
					=locale.sites.desktop.pages._i._settings.logout
		div.contents
			div.profile(data-name='profile')
				label.avatar
					h2.title
						i.fa.fa-camera-retro
						=locale.sites.desktop.pages._i._settings.user_avatar
					img.avatar(src=me.avatarUrl, alt='avatar')
					button.select-from-album.ui-waves-effect(type='button')
						i.fa.fa-folder-open
						=locale.sites.desktop.pages._i._settings.select_image_from_album
				label
					h2.title
						i.fa.fa-user
						=locale.sites.desktop.pages._i._settings.user_name
					div.content
						input.profile.name(name='name', type='text', value=me.name, placeholder=me.name, required)
				label
					h2.title
						i.fa.fa-comment
						=locale.sites.desktop.pages._i._settings.user_comment
					div.content
						input.profile.comment(name='comment', type='text', value=me.comment, placeholder=me.comment)
				label
					h2.title
						i.fa.fa-tags
						=locale.sites.desktop.pages._i._settings.user_tags
					div.content
						input.profile.tags(name='comment', type='text', value=me.tags.join(' '), placeholder=me.tags)
				label
					h2.title
						i.fa.fa-globe
						=locale.sites.desktop.pages._i._settings.user_website_url
					div.content
						input.profile.url(name='url', type='url', value=me.url, placeholder=me.url)
				label
					h2.title
						i.fa.fa-map-marker
						=locale.sites.desktop.pages._i._settings.user_location
					div.content
						input.profile.location(name='location', type='text', value=me.location, placeholder=me.location)
				button.profile.submit-button(type='submit')
					i.fa.fa-check
					=locale.sites.desktop.pages._i._settings.update

			div.web(data-name='web')
				section
					h1=locale.sites.desktop.pages._i._settings.general
					label.checkbox
						input(type='checkbox', name='display-user-name-in-post', checked= userSettings.displayUserNameInPost)
						p=locale.sites.desktop.pages._i._settings.display_user_name_in_post
					label.checkbox
						input(type='checkbox', name='display-user-screen-name-in-post', checked= userSettings.displayUserScreenNameInPost)
						p=locale.sites.desktop.pages._i._settings.display_user_screen_name_in_post
					label.checkbox
						input(type='checkbox', name='display-created-at-in-post', checked= userSettings.displayCreatedAtInPost)
						p=locale.sites.desktop.pages._i._settings.display_created_at_in_post
					label.checkbox
						input(type='checkbox', name='display-actions-in-post', checked= userSettings.displayActionsInPost)
						p=locale.sites.desktop.pages._i._settings.display_actions_in_post
					label.checkbox
						input(type='checkbox', name='confirmation-when-repost', checked= userSettings.confirmationWhenRepost)
						p=locale.sites.desktop.pages._i._settings.confirmation_when_repost
					label.checkbox
						input(type='checkbox', name='enable-url-preview-in-post', checked= userSettings.enableUrlPreviewInPost)
						p=locale.sites.desktop.pages._i._settings.enable_url_preview_in_post
					label.checkbox
						input(type='checkbox', name='thumbnailyze-attached-image-of-post', checked= userSettings.thumbnailyzeAttachedImageOfPost)
						p=locale.sites.desktop.pages._i._settings.thumbnailyze_attached_image_of_post
				section
					h1=locale.sites.desktop.pages._i._settings.home
					a.home-customize(href='/i/home-customize')
						=locale.sites.desktop.pages._i._settings.customize_home
						i.fa.fa-cog
					label.checkbox
						input(type='checkbox', name='enable-notification-sound-when-receiving-new-post', checked= userSettings.enableNotificationSoundWhenReceivingNewPost)
						p=locale.sites.desktop.pages._i._settings.enable_notification_sound_when_receiving_new_post
					label.checkbox
						input(type='checkbox', name='read-timeline-automatically', checked= userSettings.readTimelineAutomatically)
						p=locale.sites.desktop.pages._i._settings.read_timeline_automatically
				section
					h1=locale.sites.desktop.pages._i._settings.advanced
					label.checkbox
						input(type='checkbox', name='enable-sushi', checked= userSettings.enableSushi)
						p=locale.sites.desktop.pages._i._settings.enable_sushi

			div.credit(data-name='credit')
				div.main
					p.title
						=locale.sites.desktop.pages._i._settings.remaining
						b=locale.sites.desktop.pages._i._settings.hima_gold
						| :
					p.credit
						i.fa.fa-leaf
						= me.credit.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1,')

			div.logout(data-name='logout')
				a(href=config.signoutUrl)=locale.sites.desktop.pages._i._settings.logout
